<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
       <style>
     nav {
       text-align: center; /* Центруємо елемент nav */
       margin-top: 10px; /* Додаємо відступ зверху */
     }
     nav ul {
       list-style: none; /* Видаляємо маркери списку */
       padding: 0;
     }
     nav li {
       display: inline; /* Розміщуємо елементи списку в рядок */
       margin: 0 10px; /* Додаємо відступи між елементами */
     }
   </style>
</head>
<body>
<h1 style="text-align: center;">Головна</h1>
  <nav>
    <ul>
      <li><a href="/home_2">Товари</a></li>
        <li><a href="/home_3">Поради</a></li>
        <li><a href="/home_4">Огляди</a></li>
    </ul>
  </nav>>
 <main class="content">
        <section id="p">
            <p>>Навички, які можна отримати:
             <p>Правильне використання паяльника, припою та флюсу.
          <p>Техніки пайки різних типів електронних компонентів.
          <p>Виявлення та виправлення помилок пайки.
          <p>Діагностика несправностей електронних пристроїв
          <p>Заміна пошкоджених компонентів.
          <p>Використання мультиметра, осцилографа та інших вимірювальних приладів.
          <p>Тестування електронних схем.
          <p>Вимірювання електричних параметрів.
          <p>Створення прототипів приладів, для військових потреб.
          <p>Ремонт дронів.
</p>
           <img src="https://ae01.alicdn.com/kf/H796d64cd56bb4e5ab4a138bb41b4c98eM.jpg" style="width: 450px; height: 400px" alt="Ази електроніки">
        </section>
    </main>
</body>
</html>