<!DOCTYPE html>
<html lang="uk">

<head>
 <meta charset="UTF-8">
   <title>Електроніка</title>
   <style>
     nav {
       text-align: center; /* Центруємо елемент nav */
       margin-top: 10px; /* Додаємо відступ зверху */
     }
     nav ul {
       list-style: none; /* Видаляємо маркери списку */
       padding: 0;
     }
     nav li {
       display: inline; /* Розміщуємо елементи списку в рядок */
       margin: 0 10px; /* Додаємо відступи між елементами */
     }
   </style>
</head>
  <body></body>
<body>
<h1 style="text-align: center;">Огляди</h1>
  <nav>
    <ul>
    </ul>
  </nav>
    <main class="content">
        <section id="p">
          <p> Трішки посилань на канали авторів для загального розуміння та допомоги в роботі
          <p><b>Посилання 1:</b>
          <a href="https://youtu.be/wm8QsyOjfAY?si=IoK4qOZFCkTeO-ja">Кепівова</a>
          <p><b>Посилання 2:</b>>
          <a href="https://youtu.be/n4XEm6GXxcw?si=gF6EVSJIOvJln56a">Велавто</a>
          <p><b>Посилання 3:</b>
          <a href="https://youtu.be/MXkdIfWy9QY?si=saAgIpjC3KjpwuYa">Гаджетманія</a>
</p>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/375px-Arduino_ftdi_chip-1.jpg" style="width: 450px; height: 400px" alt="Ази електроніки">
       </section>
   </main>
 </body>
</html>
