<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title}}</title>
       <style>
     nav {
       text-align: center; /* Центруємо елемент nav */
       margin-top: 10px; /* Додаємо відступ зверху */
     }
     nav ul {
       list-style: none; /* Видаляємо маркери списку */
       padding: 0;
     }
     nav li {
       display: inline; /* Розміщуємо елементи списку в рядок */
       margin: 0 10px; /* Додаємо відступи між елементами */
     }
   </style>
</head>
<body>
<h1 style="text-align: center;">Товари</h1>
  <nav>
    <ul>
        <li><a href="/home_3">Поради</a></li>
        <li><a href="/home_4">Огляди</a></li>
    </ul>
  </nav>>
 <main class="content">
        <section id="p">
             <p> Трішки посилань на товари з яких я починав і їх призначення
            <p><b>Посилання 1:</b>
          <a href="https://www.aliexpress.com/item/1005006039725441.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
                <p><b>Посилання 2:</b>
          <a href="https://www.aliexpress.com/item/1005001951839741.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
            <p><b>Посилання 3:</b>
          <a href="https://www.aliexpress.com/item/1005005770568890.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
            <p><b>Посилання 4:</b>
          <a href="https://www.aliexpress.com/item/1005003309532282.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
            <p><b>Посилання 5:</b>
          <a href="https://www.aliexpress.com/item/1005001579082785.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
            <p><b>Посилання 6:</b>
          <a href="https://www.aliexpress.com/item/1005006064439625.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
            <p><b>Посилання 7:</b>
          <a href="https://www.aliexpress.com/item/4000977221890.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>
            <p><b>Посилання 8:</b>
          <a href="https://www.aliexpress.com/item/1005004971475519.html?sourceType=1&spm=a2g0o.wish-manage-home.0.0">AliExpress</a>


</p>
           <img src="https://images.prom.ua/5753406918_w640_h640_payalna-stantsiya-yihua.jpg" style="width: 450px; height: 400px" alt="Ази електроніки">
        </section>
    </main>
</body>
</html>