<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
       <style>
     nav {
       text-align: center; /* Центруємо елемент nav */
       margin-top: 10px; /* Додаємо відступ зверху */
     }
     nav ul {
       list-style: none; /* Видаляємо маркери списку */
       padding: 0;
     }
     nav li {
       display: inline; /* Розміщуємо елементи списку в рядок */
       margin: 0 10px; /* Додаємо відступи між елементами */
     }
      footer {
       text-align: center;
       margin-top: 20px; /* Додаємо відступ зверху */
     }
   </style>
</head>
<body>
<h1 style="text-align: center;">Інформація</h1>
  <nav>
    <ul>
        <li><a href="{% url 'home_1' %}">Головна</a></li>
        <li><a href="{% url 'home_2' %}">Товари</a></li>
        <li><a href="{% url 'home_3' %}">Поради</a></li>
        <li><a href="{% url 'home_4' %}">Огляди</a></li>
    </ul>
  </nav>
  <main class="content">
        <section id="p">
            <p>В єдності наша сила! Щодня Україна зазнає руйнувань, але кожен з нас може допомогти наблизити перемогу.
                Ми навчимо вас корисним навичкам, які допоможуть нашим захисникам.
                Разом ми навчимося паяти, варити акумуляторні збірки, збирати павербанки та ремонтувати дрони.
                Навіть якщо ви ніколи не тримали паяльник у руках, ми допоможемо вам освоїти ці навички.
                Ми надаємо матеріали та проводимо безплатні заняття для всіх охочих.
                Приєднуйтесь до нашої команди, щоб разом наблизити перемогу!
</p>
           <img src="https://cdn4.suspilne.media/images/resize/400x1.78/5f092c30c1f124c8.jpg" style="width: 450px; height: 400px" alt="Ази електроніки">
        </section>
    </main>
<footer class="contact-info">
  <a></a>Контакти: <a  href="https://t.me/SystemEror2024"> Telegram </a>
     <p><a href ="tel:+380678267727"> тел.: +380(678267727)</a></p>
      <a href= "mailto:orest.yakobchuk@gmail.com">Email:orest.yakobchuk@gmail.com</a>
   </footer>
</body>
</html>